body {
  background-color: #31363b;
  color: #c5c5c5;
  font-family: Arial;
  font-size: 16px;
}

label,
input,
select {
  font-size: 18px;
}

input,
select {
  background-color: #232629;
  color: #c5c5c5;
  margin: 5px 10px 5px 5px;
  padding: 8px;
  border: 1px solid #0078a3;
  vertical-align: middle;
}

input:focus,
textarea:focus,
select:active {
  outline: none !important;
  border: 3px solid #019cd4;
}

.money-input {
  width: 150px;
}

button {
  background: linear-gradient(to bottom, #0078a3 5%, #015d6d 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #c5c5c5;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 28px;
  text-decoration: none;
}

button:hover {
  background: linear-gradient(to bottom, #0090c4 5%, #016f83 100%);
  background-color: #408c99;
}

button:active {
  position: relative;
  top: 1px;
}

.main-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #31363b;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-item {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.button-container {
  margin-top: 15px;
  justify-content: center;
}

.negative-balance {
  color: #ff0000;
}

#window-left {
  width: 50%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  padding-left: 50px;
}

#window-right {
  width: 50%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#log-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  background-color: #232629;
  font-size: 14px;
  height: 50%;
  width: 300px;
  margin-top: 35px;
}

.log-entry {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 15px;
  height: 1.5em;
  width: 230px;
}

#user-selector {
  margin-right: 0;
}

.log-timestamp {
}

.log-transaction {
}

.balance-container {
}
.logo-container {
}
.add-user-container {
}
.accept-container {
}
