body {
  background-color: #31363b;
  color: #c5c5c5;
  font-family: Arial;
  font-size: 16px;
}

a {
  color: #0078a3;
}

a:hover {
  text-decoration: underline;
}

label,
input,
select {
  font-size: 18px;
}

input,
select {
  background-color: #232629;
  color: #c5c5c5;
  margin: 5px 10px 5px 5px;
  padding: 8px;
  border: 1px solid #0078a3;
  vertical-align: middle;
}

input:focus,
textarea:focus,
select:active {
  outline: none !important;
  border: 3px solid #019cd4;
}

.money-input {
  width: 150px;
}

button {
  background: linear-gradient(to bottom, #0078a3 5%, #015d6d 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #c5c5c5;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 28px;
  text-decoration: none;
}

button:hover {
  background: linear-gradient(to bottom, #0090c4 5%, #016f83 100%);
  background-color: #408c99;
}

button:active {
  position: relative;
  top: 1px;
}

.cancel-button {
  background: linear-gradient(to bottom, #ce0000 5%, #880101 100%);
  background-color: #b35959;
}

.cancel-button:hover {
  background: linear-gradient(to bottom, #eb0101 5%, #a00101 100%);
  background-color: #cf6767;
}

.main-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #31363b;
  padding: 20px 5%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-container {
  margin-top: 15px;
  justify-content: center;
}

.accept-user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
}

#user-adder-container {
  width: 100%;
}

.accept-user-container .cancel-button {
  margin-left: 25px;
}

.negative-balance {
  color: #ff0000;
}

.currency-symbol {
  display: inline;
}

.user-name-container {
  display: flex;
  flex-direction: column;
}

.initial-balance-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

#initial-balance-input {
  width: 100px;
}

#balance-container {
  display: inline-flex;
}

#balance-display {
  font-family: monospace;
  margin-right: 10px;
}

#window-left, #window-right {
  width: 50%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#window-right {
  margin-left: 15%;
}

#log-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  background-color: #232629;
  font-size: 14px;
  height: 50%;
  width: 300px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.log-entry {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 15px;
  height: 1.5em;
  width: 230px;
}

#user-selector-container {
  width: 50%;
}

#user-selector {
  margin-right: 0;
  width: 100%;
}

.logo-container {
  width: 70%;
  max-width: 350px;
  margin: 0 auto;
}

.logo {
  width: 100%;
  margin-left: auto;
}

#about-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
}

.author-container {
  display: flex;
  flex-direction: row;
}

#author {
  margin-right: 5px;
}
